
<header>
    <div class="container">
        <a routerLink="/" class="logo">Tc food Corner</a>
        <nav>
            <ul>
                <li>
                    <a routerLink="/login">Login</a>
                </li>
                <li class="menu-container"> 
                    <a routerLink="/dashboard"> Ashish</a>
                    <div class="menu">
                        <a routerLink="/Profile">Profile</a>
                        <a routerLink="/order">Order</a>
                        <a routerLink="/logout">Logout</a>
                    </div>
                </li>
                <li>
                    <a routerLink="/cart">Cart <span>3</span></a>
                </li>
            </ul>
        </nav>
    </div>
</header>